<h1>Bem Vindo, 'FORNECEDOR'!</h1>

<p> Abaixo segue a lista de suas cotações:</p>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">CLIENTE</th>
        <th scope="col">COTAÇÃO</th>
        <th scope="col">ACESSO</th>
        <th scope="col">STATUS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Arquivo_05/03</td>
        <td><button class="btn btn-outline-secondary"> clique aqui!! </button></td>
        <td>Aberto</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Otto</td>
        <td>Arquivo_05/03</td>
        <td><button class="btn btn-outline-secondary"> clique aqui!! </button></td>
        <td>Respondido</td>
    </tr>
      <tr>
        <th scope="row">3</th>
        <td>Beatriz</td>
        <td>Arquivo_05/03</td>
        <td><button class="btn btn-outline-secondary"> clique aqui!! </button></td>
        <td>Novo</td>
    </tr>
    </tbody>
  </table>