<div class="container bg-primary">
  <div class="content">
    <form class="d-flex flex-column justify-content-center align-items-center">
      <div class="form-group-input">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Email"
            value=""
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            placeholder="Senha"
            value=""
          />
        </div>
      </div>
      <div class="form-group-btn">
        <div class="form-group">
          <input type="submit" value="Entrar" class="btn btn-primary" />
        </div>
        <div class="form-group">
          <a href="#" class="btn btn-primary">Esqueceu a Senha?</a>
        </div>
      </div>
    </form>
  </div>
</div>
