<div class="container bg-primary">
  <div class="content">
    <form class="d-flex flex-column justify-content-center align-items-center">
      <div class="form-group-input">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Nome da Empresa"
            value=""
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="CNPJ"
            value=""
          />
        </div>
        <div class="form-group">
          <input
            type="tel"
            class="form-control"
            placeholder="WhatsApp"
            value=""
          />
        </div>
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            placeholder="Email"
            value=""
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            placeholder="Senha"
            value=""
          />
        </div>
        <div class="form-group">
          <select class="form-control">
            <option disabled selected>Tipo de Cadastro</option>
            <option>Comprador</option>
            <option>Fornecedor</option>
          </select>
        </div>
      </div>
      <div class="form-group-btn">
        <div class="form-group">
          <input type="submit" value="Cadastrar" class="btn btn-primary" />
        </div>
      </div>
    </form>
  </div>
</div>
