<div class="container">
  <div class="row">
    <div class="col my-3">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          Resposta Fornecedor 01
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Prazo de Entrega: dd/MM/yyyy</li>
          <li class="list-group-item">Forma de Pagamento: ?????</li>
          <li class="list-group-item">Valor Total: R$ 000,00</li>
        </ul>
      </div>
    </div>
    <div class="col my-3">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          Resposta Fornecedor 02
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Prazo de Entrega: dd/MM/yyyy</li>
          <li class="list-group-item">Forma de Pagamento: ?????</li>
          <li class="list-group-item">Valor Total: R$ 000,00</li>
        </ul>
      </div>
    </div>
    <div class="col my-3">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          Resposta Fornecedor 03
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Prazo de Entrega: dd/MM/yyyy</li>
          <li class="list-group-item">Forma de Pagamento: ?????</li>
          <li class="list-group-item">Valor Total: R$ 000,00</li>
        </ul>
      </div>
    </div>
    <div class="col my-3">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          Resposta Fornecedor 04
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Prazo de Entrega: dd/MM/yyyy</li>
          <li class="list-group-item">Forma de Pagamento: ?????</li>
          <li class="list-group-item">Valor Total: R$ 000,00</li>
        </ul>
      </div>
    </div>
  </div>
</div>
