<div class="container">
  <div class="d-flex justify-content-end">
    <button class="btn btn-success" (click)="openNovaCotacao()">Nova Cotação</button>
  </div>
  <div class="cotacoes-list row my-5">
    <div class="col my-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Titulo da Cotação</h5>
          <p class="card-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe fugit at iusto aliquid ducimus totam, animi beatae vitae vel ipsam quibusdam placeat iste recusandae voluptatem quo veritatis suscipit, veniam possimus ab ex sint fugiat tempora. Cupiditate eaque unde sit esse.
          </p>
          <p>Data: dd/mm/yyyy</p>
          <p>Tipo de Empresa</p>
          <a href="#" download="">Download Arquivo</a>
        </div>
      </div>
    </div>
    <div class="col my-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Titulo da Cotação</h5>
          <p class="card-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe fugit at iusto aliquid ducimus totam, animi beatae vitae vel ipsam quibusdam placeat iste recusandae voluptatem quo veritatis suscipit, veniam possimus ab ex sint fugiat tempora. Cupiditate eaque unde sit esse.
          </p>
          <p>Data: dd/mm/yyyy</p>
          <p>Tipo de Empresa</p>
          <a href="#" download="">Download Arquivo</a>
        </div>
      </div>
    </div>
    <div class="col my-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Titulo da Cotação</h5>
          <p class="card-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe fugit at iusto aliquid ducimus totam, animi beatae vitae vel ipsam quibusdam placeat iste recusandae voluptatem quo veritatis suscipit, veniam possimus ab ex sint fugiat tempora. Cupiditate eaque unde sit esse.
          </p>
          <p>Data: dd/mm/yyyy</p>
          <p>Tipo de Empresa</p>
          <a href="#" download="">Download Arquivo</a>
        </div>
      </div>
    </div>
    <div class="col my-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Titulo da Cotação</h5>
          <p class="card-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe fugit at iusto aliquid ducimus totam, animi beatae vitae vel ipsam quibusdam placeat iste recusandae voluptatem quo veritatis suscipit, veniam possimus ab ex sint fugiat tempora. Cupiditate eaque unde sit esse.
          </p>
          <p>Data: dd/mm/yyyy</p>
          <p>Tipo de Empresa</p>
          <a href="#" download="">Download Arquivo</a>
        </div>
      </div>
    </div>
    <div class="col my-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Titulo da Cotação</h5>
          <p class="card-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe fugit at iusto aliquid ducimus totam, animi beatae vitae vel ipsam quibusdam placeat iste recusandae voluptatem quo veritatis suscipit, veniam possimus ab ex sint fugiat tempora. Cupiditate eaque unde sit esse.
          </p>
          <p>Data: dd/mm/yyyy</p>
          <p>Tipo de Empresa</p>
          <a href="#" download="">Download Arquivo</a>
        </div>
      </div>
    </div>
    <div class="col my-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Titulo da Cotação</h5>
          <p class="card-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe fugit at iusto aliquid ducimus totam, animi beatae vitae vel ipsam quibusdam placeat iste recusandae voluptatem quo veritatis suscipit, veniam possimus ab ex sint fugiat tempora. Cupiditate eaque unde sit esse.
          </p>
          <p>Data: dd/mm/yyyy</p>
          <p>Tipo de Empresa</p>
          <a href="#" download="">Download Arquivo</a>
        </div>
      </div>
    </div>
    
  </div>
</div>
